@font-face {
    font-family: 'IBM Plex Mono';
    src: url('IBMPlexMono.woff2') format('woff2'),
        url('IBMPlexMono.woff') format('woff'),
        url('IBMPlexMono.ttf') format('truetype'),
        url('IBMPlexMono.svg#IBMPlexMono') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

